# update documentation and style for R code
# This action runs both devtools::document() and styler::style_pkg() to style r code in an r pkg's repo. After
# styling, the changes are commited and a pull request to the branch the Workflow
# was started on is opened - this PR contains the commit.

# Optionally, the function ghactions4r::rm_dollar_sign() can be run to convert all $ references to [[]].
# The advantage of this is it get rids of partial matching with $. For more details, see ?ghactinos4r::rm_dollar_sign()
# in the R console

# note may want to add a .gitignore file to .github/workflows in the repository that
# excludes *.rds files

# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
 workflow_call:
   inputs:
     run-rm_dollar_sign:
       required: false
       type: boolean
       default: false

name: style r code with styler

jobs:
  doc-and-style-r:
    name: doc and style
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1

      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: |
            styler
            roxygen2
            remotes
            pkgbuild

      - name: add ghactions4r, if using ghactions4r::rm_dollar_sign
        if: inputs.run-rm_dollar_sign == true 
        run: Rscript -e 'remotes::install_github("nmfs-fish-tools/ghactions4r", upgrade = "always")'

      - name: get last commit msg
        id: commit-msg
        run: |
          git tag
          last_commit_msg=$(git log -1 --pretty=%B)
          echo "::set-output name=msg::${last_commit_msg}"

      - name: Style
        run: | 
          results <- styler::style_pkg()
          if(any(is.na(results[["changed"]])) {
            stop("Styler through an error")
          }
        shell: Rscript {0}

      - name: Document
        run: Rscript -e 'roxygen2::roxygenise()'

      - name: Run run-rm_dollar_sign
        if: inputs.run-rm_dollar_sign == true
        run: |
          files_to_change <- list.files("R", full.names = TRUE)
          to_rm <- grep("rm_dollar_sign", files_to_change)
          if(isTRUE(length(to_rm)>0)) {
            files_to_change <- files_to_change[-to_rm]
          }
          out <- lapply(files_to_change, function(x) ghactions4r::rm_dollar_sign(x))
        shell: Rscript {0}

      - name: Style again, just in case
        run: | 
          results <- styler::style_pkg()
          if(any(is.na(results[["changed"]])) {
            stop("Styler through an error")
          }
        shell: Rscript {0}

      - name: Document again, just in case
        run: |
          Rscript -e 'roxygen2::roxygenise()'
          
      - name: Remove any rds in .github so they don't get committed.
        run: cd .github && rm -f *.rds
        
      - name: Create Pull Request
        if: ${{ !contains(steps.commit-msg.outputs.msg, 'run') }}
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: 'style and docs: run devtools::document() and styler::style_pkg()'
          branch: style-doc-code
          title: 'Style code and document'
          body: |
           Auto-generated by [doc-and-style-r.yml][1]

             [1]: https://github.com/nmfs-fish-tools/ghactions4r/tree/main/.github/workflows/doc-and-style-r.yml

